@using ProjectPosts.EN;
@model List<PostAllDTO>

    


@foreach (var item in Model){

    @* int commentsCount = 0;
    int likesCount = 0;

    @script(
    if (item.CommentsCount > 1 || item.CommentsCount == 0)
    {
        commentsCount = item.CommentsCount + " Comentarios";
    }
    else
    {
        commentsCount = item.CommentsCount + " Comentario";
    }

    if (item.LikesCount > 1 || item.LikesCount == 0)
    {
        likesCount = item.LikesCount + " Likes";
    }
    else
    {
        likesCount = item.LikesCount + " Like";
    }) *@

    <div class="card mb-3">
        <div class="card-header bg-white">
            <div class="d-flex align-items-center">
                <div class="rounded-circle " style="width: 40px; height: 40px;">
                    <img class="rounded-circle " src="https://picsum.photos/40/40" alt="">
                </div>
                <div class="ms-3">
                    <h6 class="fw-bold mb-0">item.username</h6>
                    <p class="text-muted mb-0"></p>
                </div>
            </div>
        </div>
        <div class="card-body">
            <h4 class="card-title fw-semibold">item.title</h4>
            <p class="card-text text-secondary">item.postContent</p>
        </div>
        <div class="card-footer bg-white">
            <div class="btns-container d-flex justify-content-between">
                <div>
                    <button data-postid=${item.postId} class="btn-like btn btn-outline-primary me-2"><i class="fas fa-code"></i> Like</button>
                    <button modelo="item" class="btn-comment btn btn-outline-primary"><i class="far fa-comment"></i> Comentar</button>
                </div>
                <div class="text-muted">
                    <span class="ms-3">likesCount</span>
                    <span class="ms-3">commentsCount</span>
                </div>
            </div>
        </div>
    </div>  
}